---
---

@import "{{ site.theme }}";

h1#florian-latzel, p.contact, .git-footer { 
  text-align: center; 
}

hr.bottom {
  height:1px;
  color: #eaecef;
}

.git-footer {
   font-size: small;
}

@media print {
  .markdown-body {
    font-size: 13.9px;
   
    abbr[title] {
      text-decoration: none;
    }
  }
  .page-break-after {
    page-break-after: always;
  }
  .page-break-before {
    page-break-before: always;
  }
}

